<%= link_to posts_path do %>
  <button class="btn" id="button-style"><i class="fa-solid fa-circle-arrow-left"></i></button>
<% end %>
<p><%= @user.first_name %> <%= @user.last_name %></p>
<% unless @user == current_user %>
  <%= link_to chat_dashboard_path(@user), data: { turbo_method: :post } do %>
    <i class="fa-solid fa-comment-dots"></i>
  <% end %>
<% end %>
