// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$bg-navigation: linear-gradient(90deg, rgba(220,210,255,1) 0%, rgba(198,255,255,1) 47%, rgba(255,216,174,1) 100%);
$bg-strong: linear-gradient(90deg, rgba(12,0,56,1) 0%, rgba(9,165,166,1) 47%, rgba(255,132,0,1) 100%);
$bg-light: linear-gradient(90deg, rgba(192,175,255,1) 0%, rgba(121,254,255,1) 47%, rgba(255,190,121,1) 100%);
$border: rgb(0, 0, 0);
$user: rgb(255, 255, 255);
$icons:  rgb(255, 255, 255);
$plus: rgb(36, 0, 67);
$rainbow: linear-gradient(90deg, rgba(3,200,179,1) 0%, rgba(27,110,165,1) 15%, rgba(97,52,149,1) 33%, rgba(182,32,151,1) 52%, rgba(230,41,115,1) 65%, rgba(255,113,45,1) 84%, rgba(255,173,41,1) 100%);
