// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #2568ce;
$yellow: #FFC65A;
$orange: #ff9c46;
$green: #32d689;
$gray: #0E0000;
$light-gray: #F4F4F4;

$white: white;
$dark-gray: #777a7d;
$body-background: #f1f4f9;
$petroleum: rgb(0, 61, 71);


$bg-navigation: linear-gradient(90deg, rgba(220,210,255,1) 0%, rgba(198,255,255,1) 47%, rgba(255,216,174,1) 100%);
$bg-strong: linear-gradient(90deg, rgba(12,0,56,1) 0%, rgba(9,165,166,1) 47%, rgba(255,132,0,1) 100%);
$bg-light: linear-gradient(90deg, rgba(192,175,255,1) 0%, rgba(121,254,255,1) 47%, rgba(255,190,121,1) 100%);
$border: rgb(0, 0, 0);
$user: rgb(255, 255, 255);
$icons:  rgb(255, 255, 255);
$plus: rgb(36, 0, 67);
$rainbow: linear-gradient(90deg, rgba(3,200,179,1) 0%, rgba(27,110,165,1) 15%, rgba(97,52,149,1) 33%, rgba(182,32,151,1) 52%, rgba(230,41,115,1) 65%, rgba(255,113,45,1) 84%, rgba(255,173,41,1) 100%);
$dark-rainbow: linear-gradient(90deg, rgb(3, 140, 126) 0%, rgb(20, 71, 104) 15%, rgb(67, 36, 103) 33%, rgb(107, 19, 89) 52%, rgb(164, 30, 81) 65%, rgb(186, 83, 36) 84%, rgb(255, 209, 134) 100%);
$rainbow-light: linear-gradient(90deg, rgb(167, 255, 246) 0%, rgb(189, 229, 255) 15%, rgb(210, 171, 255) 33%, rgb(255, 149, 234) 52%, rgb(255, 164, 199) 65%, rgb(255, 208, 187) 84%, rgb(249, 190, 94) 100%);
