// Specific CSS for your home-page
body{
  background-color: $body-background;
  margin-bottom: 5rem;
}

footer {
  overscroll-behavior: none;
}

#button-style {
  color: $white;
  background-color: $petroleum;
}
