// #tasks_container {
//   border-radius: 20px;
// }

#task_title {
  font-weight: bold;
  background-color: #c0c7c7;
  box-shadow: 1px 1px 2px;
}

#header_container h1 {
  font-weight: bold;
  font-family: $headers-font;
  margin-top: 13px;
  // "Nunito", "Helvetica", "sans-serif";
}

// #checkbox {
//   margin-left: -0.9rem;
//   margin-right: 0.5rem;
// }

#task_content {
  // margin-right: 1em;
}


// .accordion {
//   background-color: darkgray;
//   // color: #444;
//   cursor: pointer;
//   padding: 20px;
//   width: 100%;
//   text-align: left;
//   border: none;
//   outline: none;
//   transition: 0.4s;
//   border-radius: 10px;
// }

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
// .active, .accordion:hover {
//   background-color: #ccc;
// }

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color:#777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
 /* Unicode character for "minus" sign (-) */
}


.accordion {
  background-color: lightgray;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 96%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  border-radius: 10px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  height: 48px;
  margin-bottom: -20px;
  font-size: 15px;
}

button:not(:disabled) {
  margin: -3px;
  // border-bottom-left-radius: 0;
}

button.accordion {

  margin-left: 7px;
}
