#header_container h1 {
  // margin-bottom: 50px;
  // margin-top: 50px;
  // margin-left: 10px;

}
.task_container {
  // border: 3px solid black;
}

#task_title {
  font-weight: bold;
  background-color: #c0c7c7;
  box-shadow: 1px 1px 2px;
}

#header_container h1 {
  font-weight: bold;
}

// #checkbox {
//   margin-left: -0.9rem;
//   margin-right: 0.5rem;
// }

#task_content {
  // margin-right: 1em;
}
