.user_task_container {
  border: 3px solid black;
}

.user_task_card h2 {
  font-size: 16px;
  margin-top: 9px;
  margin-right: auto;
  font-weight: 600;
}

#user_header_container h1 {
  font-weight: bold;
  margin-top: 10px;
}

#checkbox {
  margin-left: -0.9rem;
  margin-right: 0.5rem;
}

.user_task_card{
  display: flex;
  align-items: center;
  height: 44px;
  padding: 15px;
  box-shadow:  1px 1px 2px black;
  background-color: white;
  margin-bottom: 1.5rem;
  h2 {
  margin-left: 13px;
  }
  }

.checkbox-user-task {
  margin-right: 20px;
}

.active-user-task_card{
  background-color: white;
  position: relative;
  top: -26px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 200px;
  padding-left: 10px;
  p {
    margin-bottom: 2rem;
  }

  a {
    padding: 24px;
  }
}

.accordion:after {
  margin-right: auto;
  margin-bottom: 10px;
  color: black;
  // border-bottom-left-radius: 0;
}

#user_container1 h5 {
  font-weight: bolder;
  margin-top: 20px;
  margin-left: -2px;
  margin-bottom: 28px;
  color: #1a0b0b;
  text-shadow: #c1bebe -1px 3px 10px;
}

#user-task-container p {
  margin-top: 28px;
}

.task-content-link {
  position: absolute;
  top: 150px;
}
