.user_task_container {
  border: 3px solid black;
}

.user_task_card h2 {
  font-size: 16px;
  margin-top: 9px;
  margin-right: auto;
  font-weight: 600;
}


#user_header_container h1 {
  font-weight: bold;
  margin-top: 10px;
}

#checkbox {
  margin-left: -0.9rem;
  margin-right: 0.5rem;
}


.user_task_card{
  display: flex;
  align-items: center;
  // background-color: lightgray;
  height: 44px;
  padding: 15px;
  // background-color:#a8c6a3;
  // background-color: #76d5c8;
  box-shadow:  1px 1px 1px black;
  // background-color: #13c8ab75;
  background-color: #03c8b3ba;
  // background: rgb(168, 166, 216);
  // background: (90deg, #6ab4be 0%, #65c0c8 35%, #6bbfc7 100%);
    margin-bottom: 1.5rem;
  };



.checkbox-user-task {
  margin-right: 20px;
}

.active-user-task_card{
  background-color: white;
  position: relative;
  top: -26px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


.accordion:after {
  margin-right: auto;
  margin-bottom: 10px;
  // border-bottom-left-radius: 0;
}

#user_container1 h5 {
  font-weight: bolder;
  margin-top: 20px;
  margin-left: -2px;
  margin-bottom: 28px;
  color: #1a0b0b;
  text-shadow: #c1bebe -1px 3px 10px;

}

#user-task-container p {
  margin-top: 28px;
}
