
<div class="container" id="header_container">
  <h1 class="p-2">Arrival in Germany Checklist</h1>
</div>

<div data-controller="accordion" id="tasks_container">
  <% @tasks.each do |task| %>
    <div class="task_container my-3 p-1">


        <button data-accordion-target="accordion" class="accordion"><%= task.title %></button>

          <div class="panel">
          <p><%= task.content %></p>




      </div>
    </div>
  <% end %>
</div>
