<div id="landing-container">
</div>
<div id="landing-details">
  <div>
    <i class="fa-solid fa-circle-check"></i>
    <p>Navigate through your new life in Germany with ease using our Arrival in Germany Checklist, ensuring you don't miss any essential steps along the way.</p>
  </div>
  <div class="border-top">
    <i class="fa-solid fa-house"></i>
    <p>Explore a rich tapestry of migrant experiences through our Posts section, where you can share and learn from personal stories.</p>
  </div>
  <div class="border-top">
    <i class="fa-solid fa-calendar-days"></i>
    <p>Discover and participate in local events with our Events feature, connecting you to fellow immigrants in your area.</p>
  </div>
</div>
