<div class="nav-bottom">
  <ul>
    <li>
      <a href="#"><i class="fa-solid fa-house"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa-solid fa-calendar-days"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa-solid fa-circle-plus"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa-solid fa-circle-check"></i></a>
    </li>
    <li>
      <a href="#"><i id="user" class="fa-solid fa-circle-user"></i></a>
    </li>
  </ul>
</div>
