<%= render "card", events: @events %>
<%= render "map", events: @events %>

<div class="col-11 col-md-6 events-cards-container">
  <% @events.each do |event| %>
    <%= render "card", event: event %>
  <% end %>
</div>
