<div data-controller="search-post">
  <div class="d-flex justify-content-center">
    <div class="col-11 my-3">
      <%= form_with url: posts_path, method: :get, html: {class: "d-flex", data: {search_post_target: "form"}} do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control post-search-input",
              placeholder: "Type a keyword",
              data: {
                search_post_target: "input",
                action: "keyup->search-post#update"
                }
          %>
        <%= button_tag(type: "submit", class: "btn post-search-button", id: "button-style") do %>
          <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
      <% end %>
    </div>
  </div>

  <%= render "posts", posts: @posts, comments: @comments  %>

</div>
