<% @posts.each do |post| %>
  <div class="card col-11 col-md-6" id="post" data-controller="show-comments">
    <div class="card-body">
      <%= render 'post', post: post %>

      <div class="comments d-none" data-show-comments-target="comments">

        <%= render 'commentform', post: post, comment: @comment %>

        <% post.comments.each do |comment| %>
          <%= render 'comment', comment: comment %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
