#card1 a{
  text-decoration: none;
}

.events-cards-container{
  margin: 0 auto;
}

.event-card{
  margin: 1rem 0;
  border-radius: 1rem;
  background-color: $white;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  img{
    border-radius: 1rem 1rem 0 0;
  }
}

.event-card p, .event-card div{
  color: black;
}

.event-title{
  // font-family: $event-header;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0;
  color: black;
}


#event-img-container{
  height: 45vh;
  width: 100vw;
  overflow: hidden;
  img{
    object-fit: cover;
  }
}

#event-wrapper{
  position: relative;
  button{
    margin-top: 0.5rem;
    border-radius: 1rem;
    border: 0.1rem solid black;
  }
}

.event-floatin-card{
  background-color: $white;
  width: 70vw;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: absolute;
  top: 10rem;
  left: 3.5rem;
  img{
    border-radius: 50%;
    border: 0.1rem solid white;
  }
  button{
    font-weight: bold;
  }
}

#going-back{
  position: absolute;
  top: 1.6rem;
  left: 0.9rem;
}

.event-greeny-text{
  color: $success;
  font-weight: bold;
}

#join-button{
  width: 100%;
}

