.dashboard-main {
  max-width: 100svw;
  max-height: 100svh;
  margin-top: 1rem;
  margin-left: 1rem;
}

.square-wrapper {
  border: 2px transparent;
  border-radius: 0 4rem 4rem 0;
  background-color: $petroleum;
  position: relative;
  right: 30px;
  top: 0;
  margin-top: 2rem;
}

.dashboard-profile {
  display: flex;
  height: 15svh;
  width: 100svw;
  align-items: center;
  margin: 0;
}

.user-name {
  text-align: center;
  margin-left: 40px;
  position: relative;
  left: 40px;

  h3 {
    color: $white;
    font-weight: bold;
  }

  h6 {
    color: $light-gray;
  }

  a {
    color: $white;
    text-decoration: none;
    font-size: larger;
  }
}

.sticky-image {
  position: fixed;
  left: 270px;
  max-width: 100px;

  .user-image {
    display: flex;
    padding: 4px;
    justify-content: center;
    position: sticky;
    background-image: $rainbow;
    width: 110px;

    border-radius: 50%;

    img {
      border-radius: 50%;
      border: 3px solid $white;
    }
  }
}

.my-events {
  margin-top: 1rem;

  h4 {
    font-weight: bold;
  }
}

.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 0.5rem;
  -webkit-overflow-scrolling: touch;
}

.my-events a {
  text-decoration: none;
  color: $black;
}

.user-floating-card {
  background-color: $white;
  width: 60svw;
  // height: 20svh;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px 0px #c9c9c9, inset 2px 2px 10px 0px #dedddd, -3px 2px 7px -1px rgba(222, 221, 221, 0.148);
  flex: 0 0 auto;
  margin-bottom: 3rem;

  #delete {
    color: $dark-gray;
    margin-left: 90%;
  }
}

.join-events {

  h4 {
    font-weight: bold;
  }

}

.join-events a {
  text-decoration: none;
  color: $black;
}

#counter{
  margin: 0;
  font-size: 0.8rem;
}
