#footer-bar {
  position: relative;
  z-index: 3;
}

footer {
  background: $rainbow;
  border: 0.15rem solid $white;
  border-radius: 1.8rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  bottom: 0;
  position: fixed;
  width: 100svw;
  }

  .animation {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 800ms;
  }

  .animation > div {
    overflow: hidden;
  }

  .clickfooter {
    grid-template-rows: 1fr;
  }

.nav-bottom ul a {
  color: $white;
}

.nav-bottom ul {
  display: grid;
  grid-template-columns: 1fr 1fr auto 1fr 1fr;
  justify-content: space-evenly;
  padding: 0;
  margin-bottom: 0;
}

.nav-bottom ul li{
  font-size: 1.5rem;
  height: 7svh;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#plus {
  color: $white;
  font-size: 2.5rem;
  margin-left: 1rem;
  margin-right: 1rem;

}

a#user {
  color: $user;
  font-size: 1.6rem;
}

.header {
  color: $icons;
  margin-top: 0.5rem;
}

.submit {
  color: $icons;
}
