.nav-bottom{
  background-color: $bg-navigation;
  padding: auto;
  display: flex;
  justify-content: space-between;
}

.nav-bottom ul li{
  font-size: 20rem;
}
#user {
  background-color: $bg-strong;
}
