.newEvent {
  display: flex;
  flex-direction: column;
  width: 90svw;
  height: 52svh;
  border-radius: 0.5rem;
  margin: 1rem auto;
}


.h5color {
  color: $white;
}

.button {
  background-image: $dark-rainbow;
  width: 90svw;
  padding: 0.1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.simple-form {
  border-radius: 0.5rem;
  height: auto;
  margin: 1.5rem auto;
}

div input.mapboxgl-ctrl-geocoder--input {
  height: 4svh;
  margin: 0;
  padding: 0px 33px;
}

div .mapboxgl-ctrl-geocoder--icon-search {
  top: 6px;
  left: 4px;
}

// .light-create {

// //   color: $white;
// //   background: $petroleum;
// //   border-radius: 0.5rem;
// }

#going-back {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 17rem;
}
