.square-profile {
  border: 2px transparent;
  border-radius: 25% 10%;
  background-color: $petroleum;
  // padding: 12rem;
  // position: absolute;
  margin: 3px;
}

.grid-profile {
  display: grid;
  grid-template-columns: auto auto auto;
  height: 20svh;
  max-width: 100svw;
  max-height: 100svh;
  margin-top: 1rem;
  align-items: end;
  align-content: center;
}

.back-btn {
  position: relative;
  margin-left: 2rem;
  top: -60px;
  text-align: center;
}

.profile-image {
  position: relative;
  max-width: 100svw;

  .user-pic {
    display: flex;
    padding: 4px;
    justify-content: center;
    position: relative;
    // right: 80px;
    // top: -30px;
    background-image: $rainbow;
    width: 110px;

    border-radius: 50%;

    img {
      border-radius: 50%;
      border: 3px solid $white;
    }
  }
}

.bio {
  color: $white;
  display: grid;
  position: relative;
  left: 20px;
  height: 25svh;
  width: 80svw;
  align-items: center;
  margin: 0;
}

.profile-btn {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.profile-info {
  text-align: center;
  position: relative;
  h3 {
    font-weight: bold;
    color: $white;
  }

  h6 {
    color: $dark-gray;
  }

  a {
    color: $white;
    text-decoration: none;
  }
}
