#header_container {
  // margin-bottom: 50px;
  // margin-top: 50px;
  // margin-left: 10px;

}
.task_container {
  border: 3px solid black;

}

#task_title {
  font-weight: bold;
}

#header_container h1 {
  font-weight: bold;
}

#checkbox {
  margin-left: -0.9rem;
  margin-right: 0.5rem;
}

#task_content {
  // margin-right: 1em;
}
