.checkbox-user-task {
  position: absolute;
  transform: scale(0);
}

.fa-check-square {
  color: #0f8e86;
  font-size: 16px;
  // background-color: black

}

.fa-square {

  border-color: black;
 color: lightgrey;
 font-size: 16px;
}
