<div class="container m-auto" id="user_container1">
  <div class="container" id="user_header_container">
  <h1 class="p-2">User Tasks</h1>
  </div>

  <div class="container" id="user_tasks_container">
  <% current_user.user_tasks.each do |user_task|  %>
  <% actual_task = Task.find(user_task.task_id) %>

    <div class="user_task_container my-3 p-2">
        <div class="container" id="user_task_title">
          <p>
          <h2><%= actual_task.title %></h2>
          <%= simple_form_for [actual_task, user_task], remote: true do |f| %>
            <% f.check_box :status, {checked: user_task.status == true, onchange: 'this.form.submit()'}, true, false %>
          <% end %>
          </p>
        </div>
        <div class="container" id="user_task_content">
          <p><%= actual_task.content %></p>
        </div>
      </div>
    <% end %>
  </div>
